@import 'libs/variables';
@import 'libs/mixins';
@import 'libs/reset';

@import 'sections/all';

body {
  font-family: 'Nunito', sans-serif;
}

.app {
  @include flex();
}

.content {
  overflow: auto;
  width: 100%;
  height: 100vh;
  background-color: $bg;
  padding: 40px 56px;
}

.section {
  &-title {
    @include text(40px, 56px, 700, $dark-green);
  }

  &-header {
    @include flex();
    margin: 36px 0 24px;
  }

  &-tabs {
    @include flex(flex-start, center);
    gap: 100px;

    &__item {
      position: relative;
      @include text(24px, 32px, 500, $gray);
      transition: color 0.25s ease;

      &:hover {
        cursor: pointer;
        color: $green;
      }

      &-active {
        font-weight: 700;
        color: $green;
        padding-bottom: 6px;
        border-bottom: 2px solid $green;
      }

      &-amount {
        position: absolute;
        top: 0;
        left: calc(100% + 8px);
        width: 20px;
        height: 20px;
        background: $red;
        border-radius: 3px;

        @include flex(center, center);
        @include text(15px, 15px, 400, #fff);
      }
    }
  }

  &-profiles {
    @include flex(flex-start, center);
    gap: 16px;
  }

  &-toggle {
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba($dark-gray, 0.1);
    transition: 0.3s ease;

    @include flex(center, center);

    &:hover {
      background: $green;
      cursor: pointer;

      svg {
        color: #fff;
      }
    }

    svg {
      font-size: 24px;
      color: $green;
    }
  }

  &-select {
    position: relative;
    
    &__btn {
      position: relative;
      background: #fff;
      width: 300px;
      height: 50px;
      border-radius: 7px;
      border: none;
      box-shadow: 0px 0px 10px 0px rgba($dark-gray, 0.1);
      cursor: pointer;

      &-sort {
        position: absolute;
        font-size: 20px;
        right: 20px;
        top: 15px;
        color: $green;
      }
    }

    &__list {
      position: absolute;
      width: 100%;
      margin-top: 8px;
      border-radius: 7px;
      border: none;
      box-shadow: 0px 0px 10px 0px rgba($dark-gray, 0.1);
      background: #fff;
    }

    &__item {
      padding: 11px 18px;
      width: 100%;
      height: 100%;
      @include flex(flex-start, center);
      gap: 12px;
      transition: 0.2s ease;

      &:hover {
        background: rgba($message, 0.5);
        cursor: pointer;
      }

      svg {
        font-size: 24px;
        color: $green;
      }
      
      &-name {
        @include text(16px, 21px, 700, $green);
      }
    }
  }

  &-search {
    position: relative;
    &__input {
      padding: 11px 18px;
      width: 270px;
      height: 50px;
      border-radius: 7px;
      box-shadow: 0px 0px 10px 0px rgba($dark-gray, 0.1);
      @include text(14px, 28px, 400, $dark-gray);

      &:focus {
        outline: none;
      }

      &::placeholder {
        @include text(14px, 28px, 400, $gray);
      }
    }

    svg {
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
      color: $gray;
    }
  }
}

.status {
  &-btn {
    position: absolute;
    right: 0;
    padding: 14px 18px;
    width: 150px;
    background: $green-button;
    border-radius: 6px;
    gap: 10px;
    transition: 0.2s ease;

    @include flex(space-between, center);
    @include text(14px, 14px, 400, $green);

    &:hover {
      cursor: pointer;
      background: rgba($green-hover, 0.55);
    }
  }

  &-list {
    position: absolute;
    z-index: 10;
    top: calc(100% - 25px);
    width: 150px;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba($dark-gray, 0.15);
    border: 1px solid rgba($dark-gray, 0.08);
    border-radius: 7px;

    &__btn {
      padding: 12px 0 12px 24px;
      transition: 0.2s ease;

      @include text(14px, 14px, 400, $gray);

      &:hover {
        cursor: pointer;
        background: rgba($dark-gray, 0.04);
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba($dark-gray, 0.08);
      }
    }

    &__loading {
      padding: 6px 0 6px 24px;

      @include text(14px, 14px, 400, $gray);
    }
  }
}

.loader {
  color: $green;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);

  &-container {
    width: 100vw;
    height: 100vh;
    background: $ghost-white;
    position: fixed;

    @include flex(center, center);
  }

  &-wrapper {
    width: 100%;
    height: 100%;
    @include flex(center, center);
    flex-direction: column;
  }
}

.not-found {
  width: 100%;
  @include flex(center, center);
  flex-direction: column;

  &__img {
    width: 360px;
  }

  &__text {
    text-align: center;
    @include text(20px, 28px, 600, $dark-gray);
  }
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
     -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
     -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
     -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
  